## Messy Credit Customer Data

In [251]:
import pandas as pd

In [252]:
data = pd.read_csv('credit_customers.csv')

In [253]:
data.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

In [254]:
data.columns

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

In [255]:
""" STEP FOR CLEANING THE DATA 

1.. DELETING REDUNDENT COLUMNS 
2 .. RENAMEING THE COLUMNS 
3 .. DROPPING DUPLICATES 
4 .. REMOVING THE NaN VALUES 
5 .. CHECK FOR MORE TRANSFORMATION """

' STEP FOR CLEANING THE DATA \n\n1.. DELETING REDUNDENT COLUMNS \n2 .. RENAMEING THE COLUMNS \n3 .. DROPPING DUPLICATES \n4 .. REMOVING THE NaN VALUES \n5 .. CHECK FOR MORE TRANSFORMATION '

## DELETING REDUNDENT COLUMNS

In [256]:
data.drop(columns=['checking_status', 'duration', 'credit_history', 'purpose',
       'employment','installment_commitment', 'personal_status',
       'other_parties','residence_since', 'property_magnitude','other_payment_plans','num_dependents', 'savings_status'], inplace= True)

In [257]:
data.columns

Index(['credit_amount', 'age', 'housing', 'existing_credits', 'job',
       'own_telephone', 'foreign_worker', 'class'],
      dtype='object')

In [258]:
data

,credit_amount,age,housing,existing_credits,job,own_telephone,foreign_worker,class
0,1169.0,67.0,own,2.0,skilled,yes,yes,good
1,5951.0,22.0,own,1.0,skilled,none,yes,bad
2,2096.0,49.0,own,1.0,unskilled resident,none,yes,good
3,7882.0,45.0,for free,1.0,skilled,none,yes,good
4,4870.0,53.0,for free,2.0,skilled,none,yes,bad
...,...,...,...,...,...,...,...,...
995,1736.0,31.0,own,1.0,unskilled resident,none,yes,good
996,3857.0,40.0,own,1.0,high qualif/self emp/mgmt,yes,yes,good
997,804.0,38.0,own,1.0,skilled,none,yes,good
998,1845.0,23.0,for free,1.0,skilled,yes,yes,bad
999,4576.0,27.0,own,1.0,skilled,none,yes,good

## RENAMEING THE COLUMNS

In [259]:
data_new_column_names = []

for i in data.columns:
    data_new_column_names.append(i.capitalize())

In [260]:
data.columns = data_new_column_names

In [261]:
data

,Credit_amount,Age,Housing,Existing_credits,Job,Own_telephone,Foreign_worker,Class
0,1169.0,67.0,own,2.0,skilled,yes,yes,good
1,5951.0,22.0,own,1.0,skilled,none,yes,bad
2,2096.0,49.0,own,1.0,unskilled resident,none,yes,good
3,7882.0,45.0,for free,1.0,skilled,none,yes,good
4,4870.0,53.0,for free,2.0,skilled,none,yes,bad
...,...,...,...,...,...,...,...,...
995,1736.0,31.0,own,1.0,unskilled resident,none,yes,good
996,3857.0,40.0,own,1.0,high qualif/self emp/mgmt,yes,yes,good
997,804.0,38.0,own,1.0,skilled,none,yes,good
998,1845.0,23.0,for free,1.0,skilled,yes,yes,bad
999,4576.0,27.0,own,1.0,skilled,none,yes,good

## DROPPING DUPLICATES

In [262]:
data.duplicated().sum()

# THE DATASET DONT HAVE AN DUPLICITED  VALUES

np.int64(0)

## REMOVING THE NaN VALUES

In [263]:
data.isna().sum().sum()

# THE DATASET DONT HAVE AN NA VALUES

np.int64(0)

## RESETTING THE DATASET INDEX FOR BETTER UNDERSTANDING

In [264]:
data.reset_index()

,index,Credit_amount,Age,Housing,Existing_credits,Job,Own_telephone,Foreign_worker,Class
0,0,1169.0,67.0,own,2.0,skilled,yes,yes,good
1,1,5951.0,22.0,own,1.0,skilled,none,yes,bad
2,2,2096.0,49.0,own,1.0,unskilled resident,none,yes,good
3,3,7882.0,45.0,for free,1.0,skilled,none,yes,good
4,4,4870.0,53.0,for free,2.0,skilled,none,yes,bad
...,...,...,...,...,...,...,...,...,...
995,995,1736.0,31.0,own,1.0,unskilled resident,none,yes,good
996,996,3857.0,40.0,own,1.0,high qualif/self emp/mgmt,yes,yes,good
997,997,804.0,38.0,own,1.0,skilled,none,yes,good
998,998,1845.0,23.0,for free,1.0,skilled,yes,yes,bad
999,999,4576.0,27.0,own,1.0,skilled,none,yes,good

In [265]:
data

,Credit_amount,Age,Housing,Existing_credits,Job,Own_telephone,Foreign_worker,Class
0,1169.0,67.0,own,2.0,skilled,yes,yes,good
1,5951.0,22.0,own,1.0,skilled,none,yes,bad
2,2096.0,49.0,own,1.0,unskilled resident,none,yes,good
3,7882.0,45.0,for free,1.0,skilled,none,yes,good
4,4870.0,53.0,for free,2.0,skilled,none,yes,bad
...,...,...,...,...,...,...,...,...
995,1736.0,31.0,own,1.0,unskilled resident,none,yes,good
996,3857.0,40.0,own,1.0,high qualif/self emp/mgmt,yes,yes,good
997,804.0,38.0,own,1.0,skilled,none,yes,good
998,1845.0,23.0,for free,1.0,skilled,yes,yes,bad
999,4576.0,27.0,own,1.0,skilled,none,yes,good

## CHECK FOR MORE TRANSFORMATION

In [266]:
data['Class'].unique()

array(['good', 'bad'], dtype=object)

In [267]:
data['Class'] = data['Class'].apply( lambda x : 1 if x == 'good' else 0 )

In [268]:
data

,Credit_amount,Age,Housing,Existing_credits,Job,Own_telephone,Foreign_worker,Class
0,1169.0,67.0,own,2.0,skilled,yes,yes,1
1,5951.0,22.0,own,1.0,skilled,none,yes,0
2,2096.0,49.0,own,1.0,unskilled resident,none,yes,1
3,7882.0,45.0,for free,1.0,skilled,none,yes,1
4,4870.0,53.0,for free,2.0,skilled,none,yes,0
...,...,...,...,...,...,...,...,...
995,1736.0,31.0,own,1.0,unskilled resident,none,yes,1
996,3857.0,40.0,own,1.0,high qualif/self emp/mgmt,yes,yes,1
997,804.0,38.0,own,1.0,skilled,none,yes,1
998,1845.0,23.0,for free,1.0,skilled,yes,yes,0
999,4576.0,27.0,own,1.0,skilled,none,yes,1

## CONVERSATION OF DATA_TYPE

In [269]:
type(data['Existing_credits'][0])

numpy.float64

In [270]:
data['Existing_credits'] = data['Existing_credits'].astype(int)

In [271]:
data['Existing_credits'][0]

np.int64(2)

In [272]:
data

,Credit_amount,Age,Housing,Existing_credits,Job,Own_telephone,Foreign_worker,Class
0,1169.0,67.0,own,2,skilled,yes,yes,1
1,5951.0,22.0,own,1,skilled,none,yes,0
2,2096.0,49.0,own,1,unskilled resident,none,yes,1
3,7882.0,45.0,for free,1,skilled,none,yes,1
4,4870.0,53.0,for free,2,skilled,none,yes,0
...,...,...,...,...,...,...,...,...
995,1736.0,31.0,own,1,unskilled resident,none,yes,1
996,3857.0,40.0,own,1,high qualif/self emp/mgmt,yes,yes,1
997,804.0,38.0,own,1,skilled,none,yes,1
998,1845.0,23.0,for free,1,skilled,yes,yes,0
999,4576.0,27.0,own,1,skilled,none,yes,1

## CLEAN DATA OF THE CREDIT CUSTOMER

In [274]:
data.to_csv('CLEAN_CREDIT_DATA')